
<form action="/recipes" method="post">
 <form class="edit" action="/recipes/<%= @recipe.id %>" method="post">
   <input type="hidden" name="_method" value="put"></input>
   <br>
   <label for="recipe[title]">Title:</label><br>
   <input type="text" name="recipe[title]" value="<%= @recipe.title %>">
   </br>
   <br>
   <label for="recipe[video_url]">Video URL:</label><br>
   <input type="text" name="recipe[video_url]" value="<%= @recipe.video_url %>">
   </br>
   <br>
   <label for="recipe[images]">Image:</label><br>
   <input type="text" name="recipe[images]" value="<%= @recipe.images %>">
   </br>
   <br>
   <label for="recipe[description]">Description:</label><br>
   <textarea name="recipe[description]" cols="50" rows="5" ><%= @recipe.description %></textarea>
   <br>
   <br>
   <label for="recipe[ingredients]">Ingredients:</label><br>
   <textarea name="recipe[ingredients]" cols="50" rows="5"><%= @recipe.ingredients %></textarea>
   <br />
  
   <div class="checkbox-container">

     <% Category.all.each do |category| %>
           <label for="category_<%= category.id%>"><%= category.name %></label>
           <input type="checkbox" name="recipe[category_ids][]" id="genre_<%= category.id%>" value="<%= category.id%>" <%= "checked=checked" if @recipe.category_ids.include?(category.id)%>>
           
         <% end %>

     <br>

     </div>

   <input type="Submit" />

 </form>


   

  
  

  
  
  