<section class="show centered">
  <div class="row">
    <div class="centered">
      <div class="col-md-6">
        <img class="" src="<%= @recipe.images %>">
        <h2><%= @recipe.title %> by <%= @recipe.user.username %></h2>
        <p><%= @recipe.description %></p>
        <ul>
          <% if is_logged_in? && can_edit_recipe?(@recipe) %>
          <a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
          <a href="/recipes/<%= @recipe.id %>/delete">Delete</a>
          <% end %>

          <% @recipe.categories.each do |category|  %>
          <li><%= category.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">

        <p><%= @recipe.ingredients %></p>
      </div>
    </div>
  </div>
</section>