
<div class="row">

  <div class="col-md-3">

    <h2><%= @recipe.title %> by <%= @recipe.user.username %></h2>
    <p><%= @recipe.description %></p>
    <p><%= @recipe.ingredients %></p>

    <ul>

      <% @recipe.categories.each do |category|  %>
        <li><%= category.name %></li>
        <img src="<%= recipe.images %>"></a>
      <% end %>

      <% if is_logged_in? && can_edit_recipe?(@recipe) %>
        <a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
        <a href="/recipes/<%= @recipe.id %>/delete">Remove</a>
      <% end %>
    </ul>

  </div>
  
</div> 


