<section class="show centered">
  <div class="row">
    <div class="centered">
      <div class="col-md-6">
        <img class="" src="<%= @recipe.images %>">
        <h2><%= @recipe.title %> by <a href="/users/<%=@recipe.user.id%>"><%= @recipe.user.username %></a></h2>
        <p><%= @recipe.description %></p>
        <ul>
          <% @recipe.categories.each do |category|  %>
          <li><%= category.name %></li>
          <% end %>
          <% if is_logged_in? && can_edit_recipe?(@recipe) %>
        
          <a class = "links" href="/recipes/<%= @recipe.id %>/edit">Edit</a>
          <a class = "links" href="/recipes/<%= @recipe.id %>/delete">Delete</a>
          <% end %>
        
        </ul>
      </div>
      <div class="col-md-6">
      <% @ingredients.each do |ingredient|%>
        <p><%= ingredient %></p>
      <% end %>
      </div>
    </div>
  </div>
</section>