<h2>Edit User</h2>

<form action='/users/<%= "#{@user.id}" %>' method="post">
  <input type="hidden" name="_method" value="put"></input>
  <input name="user[first_name]" value='<%= "#{@user.first_name}" %>'>
  <input name="user[last_name]" value='<%= "#{@user.last_name}" %>'>
  <input name="user[email]" value='<%= "#{@user.email}" %>'>
  <input name="user[image]" value='<%= "#{@user.image}" %>'>
  <input name="user[username]" value='<%= "#{@user.username}" %>'>
  <input type="submit" value="Submit">
</form>