<!DOCTYPE html>
<html>
<head>
  <title>Foodies</title>
  <%= css :application%>
  <%= js :application%>
</head>
<body>
  <main>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/images/icon.png"><i class="icon-book"></i></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Recipes</a></li>
        
        <% if is_logged_in? %>
        <!-- some user specific menu items -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
            <li><a href="/recipes/new">Add Recipe</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <% else %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </div>
    <%= styled_flash %>
    <%= yield %>            
    <footer>
      <div class="footer-copyright text-centered ptop10 pull-right">© 2016 Foodies.com
      </div>     
    </footer>
  </main>
</body>
</html>